@{
    Layout = "~/layouts/_BlogLayout.cshtml";

    // 00005.json
    var metadata = PostMetaData.GetPostMetaData(Server.MapPath("~/_postmetadata/00015.json"));
    
    Page.Title = metadata.title;
    Page.Meta_Description = metadata.meta_description;

    Page.ShowComments = true;
}

<section id="page_title">
    <div class="page-header">
        <h2>@Page.Title</h2>
    </div>
</section>

<section id="page_content">
    @RenderPage("/partials/_DatosSeries.cshtml")

    <p class='lead'>Datos is spanish for Data. It's also the name of my project to implement some of the more common data structures. 
        If you haven't looked at data structures since your uni days then this series is for you.</p>
    
    <p>Let's face it. Most programming languages have abstracted away the need to understand the finer details of data structures. At least that's the case for your average programmer. We use an array here, a collection there, maybe an occasional dictionary and we've pretty much got most bases covered. </p>
    
    <p>However it is important to understand the fundamentals of data structures so you are aware of their complexity. The complexity will help you decide which data structure to use. For example:</p>
    
    <ul>
        <li>how much memory is used (less important nowadays)</li>
        <li>speed to perform adding, removing and searching operations</li>
    </ul>

    <p><a href="/blog/big-o-notation-complexity">Big O Notation</a> is a huge help here. If you need a refresher be sure to read my <a href="/blog/big-o-notation-complexity">previous blog post</a> on the topic. </p>

    <h3>Which Data Structures?</h3>

    <p>I'm going to keep it fairly simple and will be looking at the following data structures:</p>

    <ul>
        <li>Linked Lists</li>
        <li>Binary Search Tree</li>
        <li>Heap</li>
        <li>Sets</li>
        <li>Queues</li>
    </ul>

    <h3>Conclusion</h3>

    <p>That's it for now. You can view my <a href="https://github.com/kestrelblackmore/Datos">Datos GitHub repository</a> to see the work I've done so far on linked lists. I'll have a post covering these shortly.</p>

    <p>Until then <em>Hasta luego!</em></p>
    
    

</section>


