@{
    var postData = PostMetaData.LoadPostMetaData(Server.MapPath("~/_postmetadata"));
}

<section id="blog">

    <dl>
    @foreach(var post in postData) {
        <dd><a href="@post.Value.link.url">@post.Value.title</a></dd>
    }
    </dl>
    
</section>
