@{
    var article_path ="/blog";
}

<section id="blog">
    <div class="row">
        <div class="span1 muted"><p>2013</p></div>
    </div>
    <div class="row">
        <div class="span1"><p>Jul 22</p></div>
        <div class="span8"><p><a href="/projects/blogmatrix">BlogMatrix - A very simple blog engine</a></p></div>
    </div>
    <div class="row">
        <div class="span1 muted"><p>2012</p></div>
    </div>
    <div class="row">
        <div class="span1"><p>Mar 28</p></div>
        <div class="span8"><p><a href="@article_path/validate-email-address-using-regular-expressions">Validate Email Address using Regular Expressions</a></p></div>
    </div>
    <div class="row">
        <div class="span1 muted"><p>2011</p></div>
    </div>
    <div class="row">
        <div class="span1">Dec 22</div>
        <div class="span8"><a href="@article_path/rails-paypal-certificate-expiration">Rails and PayPal Certificate Expiration</a></div>
    </div>
    <div class="row">
        <div class="span1">Nov 16</div>
        <div class="span8"><a href="@article_path/rails3-and-bundler">Rails 3 and Bundler</a></div>
    </div>
    <div class="row">
        <div class="span1"><p>Nov 16</p></div>
        <div class="span8"><p><a href="@article_path/rails-restful-routes">Rails RESTful Routes</a></p></div>
    </div>
   
</section>
