@{
    var article_path ="/blog";
}

<section id="blog">
    <div class="row">
        <div class="span1"><p>2012.03.28</p></div>
        <div class="span8"><p><a href="@article_path/validate-email-address-using-regular-expressions">Validate Email Address using Regular Expressions</a></p></div>
    </div>
    <div class="row">
        <div class="span1"><h2><small></small></h2></div>
    </div>
    <div class="row">
        <div class="span1"><p>2011.12.22</p></div>
        <div class="span8"><p><a href="@article_path/rails-paypal-certificate-expiration">Rails and PayPal Certificate Expiration</a></p></div>
    </div>
    <div class="row">
        <div class="span1"><p>2011.11.16</p></div>
        <div class="span8"><p><a href="@article_path/rails3-and-bundler">Rails 3 and Bundler</a></p></div>
    </div>
    <div class="row">
        <div class="span1"><p>2011.11.16</p></div>
        <div class="span8"><p><a href="@article_path/rails-restful-routes">Rails RESTful Routes</a></p></div>
    </div>
    
</section>
