@{
    var article_path ="/blog";
}

<section id="blog">
    <dl>
        <dd><a href="/projects/blogmatrix">BlogMatrix - A very simple blog engine</a></dd>
        <dd><a href="@article_path/validate-email-address-using-regular-expressions">Validate Email Address using Regular Expressions</a></dd>
        <dd><a href="@article_path/rails-paypal-certificate-expiration">Rails and PayPal Certificate Expiration</a></dd>
        <dd><a href="@article_path/rails3-and-bundler">Rails 3 and Bundler</a></dd>
        <dd><a href="@article_path/rails-restful-routes">Rails RESTful Routes</a></dd>
    </dl>

    
   
</section>
