<section id="blog">
    <div class="row">
        <div class="span1">
           <p>2013.07.22</p>
        </div>
        <div class="span8">
           <p><a href="/articles/you-cant-always-get-what-you-want">This is the article title</a></p>
        </div>
    </div>
</section>
