@{
    var article_path ="/blog";
}

<section id="blog">
    <div class="alert alert-warning">
    <p><strong>This page is part of a series on my  blog engine called BlogMatrix.</strong> The full series is listed below. Enjoy.</p>
    <dl>
        <dd><a href="/projects/blogmatrix">1. BlogMatrix - A very simple blog engine</a></dd>
        <dd><a href="@article_path/blogmatrix-brief-overview">2. BlogMatrix - A brief overview</a></dd>
        <dd><a href="@article_path/blogmatrix-deployment-process">3. BlogMatrix - The deployment process</a></dd>
        <dd><a href="@article_path/blogmatrix-creating-rss-feed">4. BlogMatrix - Creating the RSS feed</a></dd>
    </dl>
    </div>

    
   
</section>
