@{
    var article_path ="/blog";
}

<section id="blog">
    <div class="alert alert-warning">
    <p><strong>This page is part of a series on my  blog engine called BlogMatrix.</strong> The full series is listed below. Enjoy.</p>
    <dl>
        <dd><a href="/projects/blogmatrix">1) BlogMatrix. A Very Simple Blog Engine</a></dd>
        <dd><a href="@article_path/blogmatrix-brief-overview">2) BlogMatrix. A Brief Overview</a></dd>
        <dd><a href="@article_path/blogmatrix-deployment-process">3) BlogMatrix. The Deployment Process</a></dd>
        <dd><a href="@article_path/blogmatrix-creating-rss-feed">4) BlogMatrix. Creating an RSS Feed with C#</a></dd>
        <dd><a href="@article_path/blogmatrix-creating-rss-feed">5) BlogMatrix. Storing Data Without a Database</a></dd>
    </dl>
    </div>

    
   
</section>
