@{
    var article_path ="/blog";
}

<section id="blog">
    <div class="alert alert-warning">
    <p><strong>This page is part of a series on my data structures project called Datos.</strong> The full series is listed below. Enjoy.</p>
    <dl>
        <dd><a href="/projects/datos">1) Datos. Adventures with Data Structures</a></dd>
    </dl>
    </div>

    
   
</section>
