@{
    var article_path ="/blog";
}

<section id="blog">
    <div class="alert alert-warning">
        <p><strong>This page is part of a series on my first SaaS product called Quality Indicators Pro.</strong> The full series is listed below. Enjoy.</p>
        <dl>
            <dd><a href="/projects/qipro">1) Quality Indicators Pro. My First SaaS Product</a></dd>
        </dl>
    </div>
</section>
