@{
    Layout = "~/layouts/_SiteLayout.cshtml";
    Page.Title = "Page Not Found";
}

<section id="page_title">
    <div class="page-header">
        <h1>404 <small>@Page.Title</small></h1>
    </div>
</section>

<section id="page_content">
    <p>Sorry but the page you are looking for can't be found!</p>
    <p>Please try one of the links in the menu.</p>
</section>
