@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Archives";
    Page.Meta_Description = "Hey! My name is Kestrel Blackmore and I’m a keen software developer, husband, father of three kids and Christian. Here's a little of my work career bio.";
}

<section id="page_title">
    <div class="page-header">
        <h1>Archives <small>from my blog</small></h1>
    </div>
</section>

@RenderPage("/partials/_Archives.cshtml")
