@{
    Layout = "~/layouts/_SiteLayout.cshtml";
    Page.Title = "Home";
    Page.Meta_Description = "Hi, I'm Kestrel. I've been a software developer now for 13+ years and I love it! I was a co-founder of Quality Indicators Pro and I'm a Development Team Leader for SA Health.";
}


<section id="intro">
    <div class="page-header">
        <h1>Kestrel Blackmore <small>this is me</small></h1>
    </div>
    <div class="row">
        <div class="span9 well">
            <p>Hi, I'm Kestrel. I've been in the software development industry now for 13+ years and I love it!
            I was a co-founder of <a href="http://www.qualityindicatorspro.com.au">Quality Indicators Pro</a> and now I'm a Development Team Leader for <a href="http://www.sahealth.sa.gov.au/">SA Health</a>.
            I write about leadership and software development for the technology professional. I hope you like what you see.</p>  
        </div>
    </div>
</section>

<section id="mystuff">
    <div class="row">
        <div class="span3">
            <ul class="thumbnails">
                <li class="span3 tile tile-double tile-teal"><a href="http://au.linkedin.com/in/kestrelblackmore" target="_blank"><img src="/assets/img/linkedintile.png"><h1>linkedin</h1></a></li>
            </ul>
        </div>
        <div class="span3">
            <ul class="thumbnails">
                <li class="span3 tile tile-double tile-yellow"><a href="https://github.com/kestrelblackmore" target="_blank"><img src="/assets/img/githubtile.png"><h1>GitHub</h1></a></li>
            </ul>
        </div>
        <div class="span3 last">
            <ul class="thumbnails">
                <li class="span3 tile tile-double tile-blue "><a href="https://twitter.com/kestrelblackmor" target="_blank"><img src="/assets/img/twittertile.png"><h1>Twitter</h1></a></li>
            </ul>
        </div>
    </div>
</section>
<h2>Articles <small>from my blog</small></h2>
@RenderPage("partials/_Archives.cshtml")

