@{
    Layout = "~/layouts/_BlogLayout.cshtml";

    // 00016.json
    var metadata = PostMetaData.GetPostMetaData(Server.MapPath("~/_postmetadata/00019.json"));
    
    Page.Title = metadata.title;
    Page.Meta_Description = metadata.meta_description;

    Page.ShowComments = true;
    Page.ShowSocialMedia = true;
}

<section id="page_title">
    <div class="page-header">
        <h2>@Page.Title</h2>
    </div>
</section>

<section id="page_content">
    <p class='lead'>Lots of people dream of working for themselves rather than “the man”. Well I did it! And it wasn’t as cool as I thought it would be. In fact it was down right scary.</p>
    
    <h3>The Employee</h3>

    <p>In 2011 I had the unenviable pleasure of being let go from my job. Unfortunately the company just didn’t have enough work to keep me on. 
        They were good about it though and gave me plenty of notice so I began to see what my options were.</p>

    <p>At the time I was working as a Workplace Trainer and had been out of software development for a number of years. Fortunately during that time I had developed 
        a <a href='/projects/qipro'  target='_blank'>SaaS product</a> for the company so my development skills were up-to-date.</p>
    
    <p>I’d always wanted to be my own boss for the main reason of having more time to spend with my family. The thought of working the 9-5 grind for the rest of my life was just mind numbing. 
        So you could say I was predisposed to starting a business.</p>

    <h3>To Business Owner</h3>

    <p>As it became more and more obvious that I’d be laid off, I started putting the wheels in motion to starting a business. This was with the blessing of my employer. 
        Besides all the typical administration stuff with starting a business the biggest thing I needed to solve ASAP was a paying gig.</p>

    <p>Around six months earlier I’d been in discussion with a friend about some software they needed developed. At the time I wasn’t in a position to commit to such a large project so wasn’t able to help. 
        I followed it up and amazingly they still needed a system developed. I got that job and it bankrolled the business for many months.</p>

    <p>To say I was relieved would be an understatement. At the time of being let go my wife and I had just bought a house and my wife was heavily pregnant with our third child.</p>

    <p>I remember sitting down with my wife in our brand new home and telling her that I was being let go but not to worry as I had all this work lined up. She simply burst into tears, which was completely understandable.</p>

    <p>These were not so fun time but with the large project above and a bunch of other jobs we survived… for awhile.</p>

    <p>Eventually though it became evident that my business just wasn’t going to work and I was just managing to keep up with the mortgage payments. 
        Finally with two weeks before our third child was due my wife gave me an ultimatum, “get a job… now!!”</p>

    <h3>Back to Employee</h3>

    <p>I polished up my resume and began looking for jobs. Pickings were slim and I didn’t have a lot of hope. I kicked myself for not starting to apply for jobs earlier.</p>

    <p>In the end I found a few jobs that looked feasible and sent my application in.  At the prompting of my wife I submitted one last application to a company that I hadn’t 
        intended applying for because it looked “too stuffy”. My wifes response set me straight!</p>

    <p>Fast forward a couple of weeks and I had an interview with one of the companies that I felt went well. The following day my wife gave birth to a healthy boy and we were 
        both overjoyed and feeling positive about the future. The same afternoon I got requested to interview at another company.</p>

    <p>By the end of the week I had offers from both companies and was able to negotiate starting with my preferred company.  Oh and the company I picked was the “too stuffy” one! The wife knows!</p>
    
    <h3>Analysis</h3>

    <p>There was a bunch of stuff I learnt during this whole process on business, myself, marriage, self-belief and everything in between.  Following are the most pertinent lessons.</p>

    <h4>Running a business is hard</h4>

    <p>You never switch off when running a business. I was constantly thinking about the things I had to do and was up late every night trying to figure out ‘what to do next’.  
        This completely flew in the face of “spending more time with the family” but is to be expected in the first year.</p>

    <p>The administration stuff was annoying. Sorting out the financial requirements (taxes) was frustrating. Thinking about a strategy for the business was extremely time consuming.</p>

    <p>The biggest stress though was <b>trying to find the next job to survive.</b> I couldn’t understand why people weren’t falling over themselves to use my services. In the end this is what killed the business. 
        I just couldn’t generate enough work.</p>

    <p>Be prepared for hell. Running a business isn’t for the faint hearted.</p>

    <h4>Your marriage will suffer</h4>

    <p>You can’t have all the pressures mentioned above and not expect it to affect your marriage. Having a pregnant wife ups the ante even more.</p>

    <p>My wife craves security but I didn’t listen to her or I didn’t fully grasp how deep this need was.  She needed the security of a husband with a ‘real’ job. So while I blindly soldiered on she was really struggling. 
        In hindsight I’d never put her through something like that ever again.</p>

    <p>Because I put our family in that position and risked losing the house it took a very long time for my wife to trust me again. 
        Purely on this alone running my own business wasn’t worth it!</p>

    <p>Make sure you <b>seriously weigh up the impact</b> starting a business could have on your marriage. For me this was more important than my need to ‘escape the 9-5’.</p>

    <h4>Sales is KING!</h4>

    <p>If you are running a business you have to be making sales! It’s so obvious yet so easily overlooked. I spent too much time ‘working’ and not enough time ‘selling’. I should have spent 10x as much time ‘selling’ compared to ‘working’. 
        Unfortunately my mentality was: win a job, get paid, find another job.</p>

    <p>Of course selling is a whole lot easier if you have a good business model with products and services people want. I foolishly thought I’d be able to compete in the “Create a Website” market. 
        I soon realised that website developers are a dime a dozen!</p>

    <p>The biggest sales mistake though was not networking. I should have gotten in contact with <b>every single person I knew</b> and told them what I was doing, ask 
        them if they knew someone who could use my services and then get them to arrange a meeting with me. This should have been done with my clients as well.</p>

    <p>I should have reached out to other service providers as well to see if we could have brokered a mutual relationship that was beneficial for the both of us.</p>

    <p>If I was to start a business again I would <b>slowly build it up whilst continuing at my full time job</b> and thus have security. If the business grew and was 
        generating decent revenue I'd then look at cutting down my hours at my full time job.  </p>

    <h4>Self-Belief</h4>

    <p>When I started looking for a ‘real’ job it felt pretty hopeless.  None of the jobs advertised seemed particularly exciting or where my skillset lay.  
        I also live in a fairly small city so the horizon didn’t look anymore promising.</p>

    <p>Still I didn’t let that dampen my self-belief. I knew I was a very good programmer. I knew I could learn new concepts quickly. I knew I had great communication skills from my time as a Workplace Trainer. I knew running my own business for close to a year showed I had hustle. 
        I just needed to get in front of someone so I could ‘sell’ my skills.</p>

    <p><b>Confidence and self-belief are two of your most powerful weapons.</b> People can smell it a mile away. I’m not talking about being cocky but a deep seated belief 
        in yourself and your abilities. In aura that beams, "I can do anything!"</p>

    <p>It was these factors that stood out during my interview with the company that I got a position with. Another candidate and myself were miles above the competition and whilst he had more technical skills than me 
        it was my confidence and communication skills that won them over.</p>

    <p>Never lose belief in yourself! Imagine if I’d shown up to the interviews with a defeatist attitude. The outcome would have been totally different.</p>

    <h3>Conclusion</h3>

    <p>It may sound like I’m bitter and jaded after my ‘business owner’ experience but nothing could be further from the truth. You can’t pay to gain the 
        experiences and wisdom I accumulated during this time.</p>

    <p>Going back into the workforce resulted in my meeting a bunch of great people, exposure to larger corporate environments and advancing my career from a technical stream into management.  
        </p>
    <p><b>I’m thoroughly loving life!</b></p>

    <p><i>Those are my experiences. What have yours been like? I’d love to hear about them in the comments below.</i></p>

</section>


