@{
    Layout = "~/layouts/_BlogLayout.cshtml";

    // 00016.json
    var metadata = PostMetaData.GetPostMetaData(Server.MapPath("~/_postmetadata/00022.json"));
    
    Page.Title = metadata.title;
    Page.Meta_Description = metadata.meta_description;

    Page.ShowComments = true;
    Page.ShowSocialMedia = true;
}

<section id="page_title">
    <div class="page-header">
        <h2>@Page.Title</h2>
    </div>
</section>

<section id="page_content">
    
    <p class='lead'>Sorry I didn't mean to insult you but lots of people are unsure how to run a performance review. They get an edict from HR or their boss and are expected to just know what to do. Well never fear, I'm going to give you my tried and tested process.</p>

    <h3>Before the interview</h3>

    <p>In my previous post, <a href="/blog/performance-reviews">Are Performance Reviews Just a Big Fat Waste of Time??</a>, I stated that performance reviews are indeed worth doing if you have the attitude of wanting to <b>improve your staffs career prospects</b>. That being the case it makes sense to prepare and run your reviews in a way that is going to give you the best results. </p>

    <p>Don't even think about conducting a performance review if you plan on just winging it. This will not end well. You'll like forget something important and definitely come off as unprofessional.</p>

    <p>The time you spend planning and preparing for the reviews will go along way to ensuring a smooth interview and also convey to your staff <b>that you are serious</b> about this and are putting considerable effort into it.</p>

    <p>Here are the things to go through for each staff member you are conducting a performance review for.</p>

    <h3>1. Overview of the previous year</h3>

    <p>Have some general comments on the staff members performance during the previous year. Hopefully they’ll have had a productive year so you’ll easily be able to provide some comments here. </p>

    <p>If their year hasn’t been fantastic be careful to not be overly aggressive and thus put the staff member immediately on the defensive. A defensive staff member is likely to argue every point you make and make things difficult. </p>

    <p>It always helps to <b>provide examples</b> that back up your comments. I like to list off some projects they have completed during the previous year or recall some client feedback. Either way these examples should <  b>support your overview comments</b>. Once again comments show you’ve thought about the review and proves you are able to be objective.</p>

    <h3>2. Focus for your department</h3>

    <p>It’s then a good idea to provide a general overview of what the primary focuses will be for the department over the next 12 months. This <b>frames the discussions</b> you will be having shortly around objectives and skill ratings.</b> </p>

    <p>If you are leading your team, as opposed to just managing it, you should already have a clear vision of what these departmental focuses are. If you don't, you have no right running performance reviews yet. How can you provide legitimate staff member objectives unless you know what your department goals are?</p>

    <p>In reality these focuses shouldn’t be a great surprise to your staff as these should be regularly discussed during team members and 1 on 1 meetings.</p>

    <h3>3. Their career goals</h3>

    <p>You’ll have been doing the bulk of the talking up to this point so give the staff member an opportunity to talk by discussing their future career goals. This is the main opportunity they have to get something out of the whole review process for themselves.</p>

    <p>It’s at this point that you’ll quickly figure out who takes reviews seriously and who views them as a waste of time. The attitude displayed here will be <b>reflective of the organisation’s culture</b>. A culture which you will most likely have been setting so remember, you set the tone here! </p>

    <p>Make sure you don’t just skip through this part of the review quickly. You should be very much wanting to assist your staff member in achieving their career prospects. </p>

    <p>A great manager once said to me, <i>“Kestrel, If I have done my job correctly you will leave my company a much better employee than when you joined us.”</i>  They are such true words and I think on them often when considering staff development.</p>

    <p>Encourage your staff member to think beyond just the next year and possibly where they would like to be in five years. It’s highly likely that they will be primarily focussed on improving technical skills so you might want to raise any soft skills (communication skills, time and project management skills, client relation skills) that you believe would assist them with their goals.</p>

    <p>Once you have both got some ideas down make sure you <b>put together a development plan</b> that will progress them along the path of the career goals they have. There will probably be some training courses you can send them on but also you, or another senior member of your team, are most likely going to have to provide mentoring support.</p>

    <h3>4. Specific objectives for the year</h3>

    <p>Now you can map out the specific major objectives you have identified for the staff member to achieve over the next 12 months. These should align with the departmental primary focuses and vision. </p>

    <p>Make sure to provide some measurable KPIs (key performance indicators) for each objective so when you look back at the review in 12 months time <b>you are both clear</b> on whether the objectives have been met or not.</p>
    
    <p>Ensure that the objectives are actually achievable. Nothing is more demoralising than having goals set for you which you know are impossible to accomplish. Most people will simply write the whole process off as stupid and you will have <b>lose any credibility</b> you may have built up.</p>

    <p>I like to include one or two objectives that are common for the entire team and then have two to three specific objectives for each staff member. </p>

    <h3>5. Rating their skills</h3>

    <p>This is probably the most difficult part of the review process, when you have to give your staff member a rating against their positions recommended ratings. </p>

    <p>Again I personally believe there <b>shouldn’t be any great</b> surprises for your staff here. If there have been any concerns you should have been raising them during your one-on-one meetings throughout the year. Still it is good to use this opportunity to officially raise areas where the staff member needs to improve. It brings weight to the issue.</p>

    
    <p>One great tip here is to <b>prepare counter-arguments</b> to any issues you believe your staff are likely to raise at this point. This ensures you don’t get broadsided or left unable to respond to a statement, argument or question. I’ve been caught out by this on a number of occasions!</p>

    <p>It can be good to highlight here that as human beings and employees there is always scope for improving ourselves and if we have this attitude we can view this feedback as constructive criticism and not a negative bashing over the head.</p>

    <h3>After the interview</h3>

    <p>Once you’ve finished the official performance review and the paperwork has been signed you’d be easily forgiven for thinking that is the end of it. Not so!  The review actually continues over the <b>next 12 months as you periodically check</b> how your staff are going with their objectives, skills and career goals. Further to that it may require mentoring on your behalf and will definitely involve a lot of question asking. </p>

    <p>This should be a <b>regular item for discussion</b> during your one-on-one meetings. Don’t let this part of the process drop off! This is where a lot of leaders distinguish themselves from managers. </p>

    <h3>Conclusion</h3>

    <p>I hope you’ve found the above helpful. I know it's been very useful to put this together as a handy reference guide for myself :)</p>

    <p>If you have any thoughts, ideas or experiences around performance reviews I’d love to hear about them in the comments below.</p>

</section>


