@{
    Layout = "~/layouts/_BlogLayout.cshtml";
    
    // 00002.json
    var metadata = PostMetaData.GetPostMetaData(Server.MapPath("~/_postmetadata/00002.json"));
    
    Page.Title = metadata.title;
    Page.Meta_Description = metadata.meta_description;
}

<section id="page_title">
    
    <div class="page-header">
        <h2>@Page.Title</h2>
    </div>
</section>

<section id="page_content">
    <p class='lead'>Some useful bundler commands in Rails 3.</p>
    
    <p>
        <pre>
gem install bundler #installs bundler
bundle install #reads gem list from Gemfile and installs them
bundle check #check gem list from Gemfile and sees if any aren't installed yet
bundle help #lists available commands
bundle install --without=test #like install but ignores test env gems
bundle lock #freezes gems to current versions
bundle install --relock #unlock gems, update and lock again
bundle pack #installs gems locally to vendor/cache
</pre>
    </p>

</section>


