@{
    Layout = "~/layouts/_BlogLayout.cshtml";

    // 00016.json
    var metadata = PostMetaData.GetPostMetaData(Server.MapPath("~/_postmetadata/00016.json"));
    
    Page.Title = metadata.title;
    Page.Meta_Description = metadata.meta_description;

    Page.ShowComments = true;
    Page.ShowSocialMedia = true;
}

<section id="page_title">
    <div class="page-header">
        <h2>@Page.Title</h2>
    </div>
</section>

<section id="page_content">
    <p class='lead'>"Help, my <a href='http://linode.com'  target='_blank'>Linode</a> VPS has died!" "Help, I've lost some data on my Linode VPS!" "Help, I stuffed up a configuration setting now my Linode VPS is bricked!" "WHAT DO I DO!?!" If you've ever uttered those words in desperation I have the answers you seek! </p>
    
    <p>Having a server die, losing data or bricking your server through a wrong configuration setting are some of the most gut wrenching moments we can experience. Hopefully you've been taking nightly backups of your server at a bare minimum. Right? Right?!</p>

    <p>Linode is a great online hosting company for cheap, reliable, Virtual Privatge Servers running linux. I have several setup for different systems I have developed and host.</p>
    
    <h3>Noah Pearls</h3>
    <p>Noah said a ton of awesome stuff:</p>

    <ul>
        <li>Winners keep trying.</li>
        <li>When you want something from someone do the hard work so they have no other choice than to say yes.</li>
        <li>What do I really want? What is my aspiration in life?</li>
        <li>Create frameworks for decision making. <a href="http://okdork.com/2013/08/19/how_to_simplify_decision_making/" target="_blank">See post by Noah on this here.</a></li>
        <li>You don't need a co-founder.</li>
        <li>Everyone has money. Solve a problem they will give you money for.</li>
        <li>Ask for things. If you don't ask, you don't receive.</li>
        <li>Noone wants an app or website. They want a solution to their problem.</li>
        <li>Don't fear failure or rejection. Take the coffee challenge (see below).</li>
        <li>Why would awesome talent want to work for/with me? What can I offer them?</li>
        <li>Help people and you will stand out.</li>
        <li>Put your contact details everywhere. You want to talk to customers.</li>
        <li>If you're making no money your product is no good.</li>
        <li>Marketing is easy if people really want your product!</li>
        <li>When people are buying find out who they are and where other people just like them are.</li>
    </ul>
    
    <h3>Live Workshopping</h3>
    <p>Noah took three people through a bit of a live workshop on how to take their business idea to the next stage. In pretty much all cases the business ideas seemed good to those who put them forward; however, Noah 
        brang them back to validating the idea and seeing if anyone in the room would buy the product. Rather than hypothesizing about a certain demographic just see if those you have immediate access to will buy.</p>
    <p>I must appluade those who put forward their ideas and then had to withstand a flurry of questions from Noah. Seeing as Noah regularly charges thousands of dollars for consulting though I think 
        they got an amazing deal!</p>

    <h3>The Coffee Challenge</h3>
    <p>One of the things we need to get over is our fear of failure or rejection. One of the activities Noah told us to help with this is the coffee challenge. The next time you order a coffee ask for
    a 10% discount. Now a quick question. What immediately went through your head when you read that? "Crazy!" "Stupid!" "They'll say no!"</p>
    <p>The point is it doesn't matter what they say. If they say no, so what? If they say yes, sweet you saved yourself some money. Regardless don't take it personal and don't worry about
    what others think.</p>
    <p>In fact the bigger take away is that you will learn something about yourself. Why did you think the way you initially thought when you heard the coffee challenge? Why did/n't you find it hard?
    What did you feel afterwards? Elated? Dejected? Go away and analyse your responses and feelings to understand yourself better.</p>
    <h3>Conclusion</h3>
    <p>A massive thanks to Noah for coming out to Adelaide and speaking for three hours when he was only down for two. Checkout his blog <a href="http://okdork.com"  target="_blank">okdork.com</a> and company 
        <a href="http://appsumo.com"  target="_blank">AppSumo</a>. Noah also has an online program on <a href="http://htmyfd.com" target="_blank">how to make your first dollar</a> which covers all of the above in greater detail. Check out these sites today!</p>
    <p>Also a huge shout out to <a href="https://twitter.com/majorandistil"  target="_blank">Majoran Distillery</a> for all they are doing in the Adelaide Startup scene. To get a speaker like Noah Kagan along is a massive coup so thanks.</p>
    <p>I'm off to find a problem!</p>

</section>


