@{
    Layout = "~/layouts/_BlogLayout.cshtml";

    // 00016.json
    var metadata = PostMetaData.GetPostMetaData(Server.MapPath("~/_postmetadata/00016.json"));
    
    Page.Title = metadata.title;
    Page.Meta_Description = metadata.meta_description;

    Page.ShowComments = true;
    Page.ShowSocialMedia = true;
}

<section id="page_title">
    <div class="page-header">
        <h2>@Page.Title</h2>
    </div>
</section>

<section id="page_content">
    <p class='lead'>"Help, my <a href='https://www.linode.com/?r=2b6ad5962c00e4e9657e2b950c69bc3a35ed8801'  target='_blank'>Linode</a> VPS has died!" "Help, I've lost some data on my Linode VPS!" 
        "Help, I stuffed up a configuration setting now my Linode VPS is bricked!" "WHAT DO I DO!?!" 
        If you've ever uttered those words in desperation I have the answers you seek! </p>
    
    <p>Having a server die, losing data or bricking your server through a wrong configuration setting are some of the most gut wrenching 
        moments we can experience. Hopefully you've been taking nightly backups of your server at a bare minimum. Right? Right?!</p>

    <p><a href='https://www.linode.com/?r=2b6ad5962c00e4e9657e2b950c69bc3a35ed8801'  target='_blank'>Linode</a> is a great online hosting company for cheap, reliable, 
        Virtual Privatge Servers running linux. I have several setup for different systems I have developed and host.</p>
    
    <h3>Background information</h3>
    <p>The other day I found a bug in one of the SaaS systems I developed. It meant that the client data export functionality wasn't exporting dates correctly. 
        I've no idea how this got past testing! Anyway it was a very simple fix (only had to change one character) and all was well again.</p>

    <p>Around this time one of our client had exported their data, made some changes and wanted to import it again. With our product there are limits on how many records
        you can have in the system so in between exporting and importing they _purged_ their data. No biggie. Except they exported using the buggy client data export! YIKES!</p>

    <p>Thankfully we had made the decision long ago to pony up the extra $5 a month for nightly, weekly and fortnightly backups. At $5 it was a no brainer. So much so that I didn't
        even really consider it again or what the process is for restoring backups.</p>

    <h3>Linode Backups to the Rescue</h3>

    <p>Whilst taking solace in our decision to pay for backups I logged into the Linode Manager and did the following:</p>

    <ol>
        <li>Selected the 'Backups' menu item for my linode</li>
        <li>Checked the backup history to determine which backup set would have the most up-to-date date before the client purged</li>
        <li>Found the backup and clicked the "Restore to..." link. It was at this point that I realised I'm using 100% disk capacity for my linode so couldn't do a restore.</li>
        <li>Thinking outside the square I simply spooled up a new linode box. At a pro-rata rate of $11 for the rest of the month it was a cheap cost to occur to restore the client's data.</li>
        <li>Repeated step 3 but selected the new linode I just spooled up.</li>
        <li>Grabbed some popcorn and watched some TV as I waited for the restore to finish. It took about an hour.</li>
        <li>Grabbed the IP address of the new linode and modified my Linode DNS Manager settings so I could load up a patch subdomain for my SaaS product</li>
        <li>Logged into the new linode server and modified the NGINX configuration file to listen on the new IP address and subdomain</li>
        <li>Applied the bug fix to the new linode server</li>
        <li>Logged into the SaaS web application using the patch subdomain</li>
        <li>Exported the clients pre-purge data</li>
        <li>Logged into the production SaaS web application and imported the client data</li>
        <li>Sat back and thanked my lucky starts as all the data was there!</li>
    </ol>
    
    <h3>Lessons Learnt</h3>

    <p>Firstly make sure your testing regime is thorough and covers all cases. I still haven't been able to figure out how this bug got through.</p>

    <p>Secondly make sure you have backups in place and know how to restore them. The awesome thing with the Linode backup is that it takes a complete snapshot of the virtual machine.
        So when I restored it to the new machine it just booted up and was a fully functioning replica of production just with a data set that was a few days old. This made my job so much easier.</p>

    <p>Finally keep a level, cool head and be prepared to think outside the square. What's the problem? What do I need to achieve? What are some options to get the desired outcome? 
        The more options you have the less likely you are to get stuck.</p>

    <p>--</p>

    <p>In the end the whole process probably took about 2 hours, most of which was spent waiting for the new linode server to spool up and the restore to occur.</p>

    <p>If you haven't already be sure to checkout <a href="https://www.linode.com/?r=2b6ad5962c00e4e9657e2b950c69bc3a35ed8801">Linode</a>. I've been totally impressed with them over the 5 years I've been using them.</p>

    <p>Onwards and upwards!</p>


</section>


