@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Validate Email Address using Regular Expressions";
    Page.Meta_Description = "A regular expression to check an email address is valid.";
}

<section id="page_title">
    
    <div class="page-header">
        <h2>@Page.Title</h2>
    </div>
</section>

<section id="page_content">
    <p>Here’s a very simple way to validate an email address using regex.</p>
    <pre>^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$</pre>
</section>


