@{
    Layout = "~/layouts/_BlogLayout.cshtml";
    Page.Title = "Validate Email Address using Regular Expressions";
    Page.Meta_Description = "A regular expression to check an email address is valid.";
    var snippet = @"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$";
}

<section id="page_title">
    
    <div class="page-header">
        <h2>@Page.Title</h2>
    </div>
</section>

<section id="page_content">
    <p class="lead">Here’s a very simple way to validate an email address using regex.</p>
    <pre>@snippet</pre>
</section>


