@{
     Layout = "~/layouts/_SiteLayout.cshtml";
}

@RenderBody()

<div class="row">
    <div class="span10"><hr></div>
</div>

@if(Page.ShowSocialMedia == true) {
    @RenderPage("/partials/_SocialMedia.cshtml")
}

<div class="row">
    <div class="span10"><hr></div>
</div>

@if(Page.ShowComments == true) {
    @RenderPage("/partials/_Disqus.cshtml")
}

