@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
    Page.Meta_Description = "Hey! My name is Kestrel Blackmore and I’m a keen software developer, husband, father of three kids and Christian. Here's a little of my work career bio.";
}

<section id="page_title">
    
    <div class="page-header">
        <h2>You can't always get what you want</h2>
    </div>
</section>

<section id="page_content">
    <p>I had an epiphany the other day. Sometimes life just sucks!  No two ways about it.</p>
</section>


